.home-container {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.earth-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
}

.parallax-content {
    position: relative;
    z-index: 3;
    padding-top: 200vh;
    /* Ensure text appears after scrolling */
}

.text-container {
    margin: 40px auto;
    width: 100%;
    max-width: 500px;
    color: white;
    text-align: center;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.6s ease;
}