/* Navbar Styling */
.custom-navbar {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: fit-content;
    /* Adjust width to be content-based */
    margin: 20px auto;
    /* Center and bring down */
    position: sticky;
    /* Make the navbar sticky */
    top: 20px;
    /* Adjust top positioning */
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid #0D6EFD;

    /* Optional: Add some rounded corners */
}

/* Styling for nav links */
.custom-nav-link {
    margin-left: 30px;
    transition: transform 0.3s ease-in-out;
}

.custom-nav-link a {
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
    /* Add some padding for better clickability */
}

/* Animation Effect on Active State */
.custom-nav-link.active a,
.custom-nav-link a.active {
    color: #00aaff;
    transform: scale(1);
}

/* Hover Animation */
.custom-nav-link a::after {
    content: '';
    display: block;
    height: 2.5px;
    width: 0;
    background: #00aaff;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.custom-nav-link a:hover::after {
    width: 100%;
}

.custom-nav-link a:hover {
    color: #00aaff;
}

/* Animation on link hover */
.custom-nav-link:hover {
    transform: translateY(-5px);
}

/* Blinking Animation for Active Link */
.blink {
    animation: blinkAnimation 1s step-start 0s infinite;
}

@keyframes blinkAnimation {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .custom-navbar {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    .custom-nav-link {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .custom-nav-link {
        margin: 5px;
    }
}