@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;500&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
* {
    font-family: 'Montserrat', sans-serif;
    /* Apply Archivo font to all elements */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    box-sizing: border-box;
    /* Adjust box model */
}